body{
  background-color: rgb(255,255,245);
}
nav.nav-menu {
  float: left;
  width: 220px;
  height: 1000px;
  border-right: solid;
  border-right-width: thick;
  border-color: rgb(210,215,221);
  background-color: rgb(210,215,221);
}
div.nav-tab {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
  height: 25px;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(30, 57, 87);
}
div.nav-tab:hover {
  background-color: rgb(110,115,121);
}
a.navigation {
  text-decoration: none;
  font-size: large;
  color: white;
  font-family: calibri, helvetica, sans-serif;
  margin-left: 10px;
}
div.top-div {
  height: 120px;
  border-style: solid;
  border-color: rgb(210,215,221);
  background-color: rgb(210,215,221);
}
div.top-div > p {
  text-align: center;
  font-family: calibri, helvetica, sans-serif;
  color: rgb(30, 57, 87);
}
#bar_blue {
  background-color: rgb(30, 57, 87);
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 20px;
}
div.main-div {
  margin-left: 20px;
  float: left;
  width: 60%;
  border-style: none;
  background-color: none;
  font-family: calibri, helvetica, sans-serif;
  font-size: large;
}
h1 + p::first-letter {
  font-size: 200%;
}
.bold {
  font-weight: bold;
}
div.main-div a {
  color: black;
}
